body {
  margin: 0;
  background-color: #444;
  color: #ddd;
}

#app {
  margin: 2em auto;
}

#controls {
  margin: 1em 0;
  padding: 0.5em;
  border: 1px solid #777;
  display: flex;
}

#app svg {
  border: 2px solid #a33;
}

g.control {
  pointer-events: bounding-box;
}

circle.node {
  transition: transform 0.2s ease;
}

circle.node1 {
  fill: #222;
  stroke: none;
}

g.control:hover circle.node1 {
  fill: #a22;
}

circle.node2 {
  fill: #444;
  stroke: #222;
  stroke-width: 2px;
}

g.control:hover circle.node2 {
  stroke: #a22;
}

g.control:hover circle.node1,
g.control:hover circle.node2 {
  transform: scale(1.2, 1.2);
}

path.link {
  fill: none;
  stroke: #222;
}

div.node {
  opacity: 0;
  transition: opacity 0.75s ease;
}

div.node.active {
  display: block;
  padding: 0.8em;
  border: 2px solid #ccc;
  border-radius: 0.5em;
  background-color: #773;
  color: #ccc;
  opacity: 0.75;
}
